<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML Meta Tags -->
  <title>DEDTALKS</title>
  <meta name="description" content="Talk to the dead, they have stories to be told!">
  <meta name="theme-color" content="#000000">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="DEDTALKS">
  <meta itemprop="description" content="Talk to the dead, they have stories to be told!">
  <meta itemprop="image" content="https://media.discordapp.net/attachments/890149366499786762/1102561976506388570/Picsart_23-05-01_17-16-11-713.png">
  <!-- Facebook Meta Tags -->
  <!--<meta property="og:url" content="https://jatinxd.tk">-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="DEDTALKS">
  <meta property="og:description" content="Talk to the dead, they have stories to be told!">
  <meta property="og:image" content="https://media.discordapp.net/attachments/890149366499786762/1102561976506388570/Picsart_23-05-01_17-16-11-713.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="DEDTALKS">
  <meta name="twitter:description" content="Talk to the dead, they have stories to be told!">
  <meta name="twitter:image" content="https://media.discordapp.net/attachments/890149366499786762/1102561976506388570/Picsart_23-05-01_17-16-11-713.png">
  <!-- Favicon -->
  <link rel="shortcut icon" href="https://media.discordapp.net/attachments/890149366499786762/1102561976506388570/Picsart_23-05-01_17-16-11-713.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-ABC123xyz..." crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="secret">
      <div class="chat-header">
    <a href="/">
    <i class="fas fa-angle-left"></i>
    </a>
    <img src="https://media.discordapp.net/attachments/890149366499786762/1101118531141111919/Picsart_23-04-27_17-41-31-198.png">
      </div>
   <form id="login-form">
     <label for="username">Choose the Character:</label><br>
     <select id="character" name="character" class="form-control" required>
   <option value="none" disabled>Select a Character</option>
       <option value="Subhash Chandra Bose">Subhash Chandra Bose</option>
    <option value="Steve Jobs" selected>Steve Jobs</option>
    <option value="Aristotle">Aristotle</option>
       <option value="Albert Einstein">Albert Einstein</option>
<option value="Nelson Mandela">Nelson Mandela</option>
<option value="William Shakespeare">William Shakespeare</option>
<option value="Leonardo da Vinci">Leonardo da Vinci</option>
<option value="Marie Curie">Marie Curie</option>
<option value="Isaac Newton">Isaac Newton</option>
<option value="Mahatma Gandhi">Mahatma Gandhi</option>
<option value="Charles Darwin">Charles Darwin</option>
<option value="Frida Kahlo">Frida Kahlo</option>
<option value="Vincent van Gogh">Vincent van Gogh</option>
<option value="Walt Disney">Walt Disney</option>
<option value="Pablo Picasso">Pablo Picasso</option>
<option value="Beethoven">Beethoven</option>
<option value="Mozart">Mozart</option>
<option value="Stephen Hawking">Stephen Hawking</option>
<option value="Sigmund Freud">Sigmund Freud</option>
<option value="Jane Austen">Jane Austen</option>
<option value="Winston Churchill">Winston Churchill</option>
<option value="Thomas Edison">Thomas Edison</option>
<option value="Martin Luther King Jr.">Martin Luther King Jr.</option>
<option value="Rosa Parks">Rosa Parks</option>
<option value="Neil Armstrong">Neil Armstrong</option>
<option value="Amelia Earhart">Amelia Earhart</option>
<option value="Michael Jackson">Michael Jackson</option>
<option value="Elvis Presley">Elvis Presley</option>
<option value="Princess Diana">Princess Diana</option>
<option value="Mother Teresa">Mother Teresa</option>
<option value="Stephen King">Stephen King</option>
<option value="J.K. Rowling">J.K. Rowling</option>
<option value="Agatha Christie">Agatha Christie</option>
<option value="Marilyn Monroe">Marilyn Monroe</option>
<option value="Audrey Hepburn">Audrey Hepburn</option>
<option value="John F. Kennedy">John F. Kennedy</option>
<option value="Abraham Lincoln">Abraham Lincoln</option>
<option value="Queen Elizabeth II">Queen Elizabeth II</option>
<option value="Princess Diana">Princess Diana</option>
<option value="Margaret Thatcher">Margaret Thatcher</option>
<option value="Pope Francis">Pope Francis</option>
<option value="Steve Irwin">Steve Irwin</option>
<option value="David Bowie">David Bowie</option>
<option value="Prince">Prince</option>
<option value="Robin Williams">Robin Williams</option>
<option value="Freddie Mercury">Freddie Mercury</option>
<option value="Amy Winehouse">Amy Winehouse</option>
<option value="Kurt Cobain">Kurt Cobain</option>
<option value="John Lennon">John Lennon</option>
<option value="Jim Morrison">Jim Morrison</option>
<option value="Janis Joplin">Janis Joplin</option>
<option value="Jimi Hendrix">Jimi Hendrix</option>
<option value="Bob Marley">Bob Marley</option>
<option value="Whitney Houston">Whitney Houston</option>
<option value="Michael Jordan">Michael Jordan</option>
<option value="Muhammad Ali">Muhammad Ali</option>
<option value="Serena Williams">Serena Williams</option>
<option value="Tiger Woods">Tiger Woods</option>
<option value="Usain Bolt">Usain Bolt</option>
<option value="Roger Federer">Roger Federer</option>

     </select>
     <label for="username">Enter You Name:</label><br>
  <input type="text" id="username" name="username" autocomplete="off" required><br>
  <button type="submit" id="submit-button">Submit</button>
    </form>

          </div>
      <div class="chat-container">
  <div class="chat-header">
    <a href="/chat">
    <i class="fas fa-angle-left"></i>
    </a>
    <img src="https://media.discordapp.net/attachments/890149366499786762/1101118531141111919/Picsart_23-04-27_17-41-31-198.png">
  <!--  <h1 id="characterName"></h1>-->
  </div>
        <div style="display: none;" class="card">
  <i id="card-close" class="fa fa-close"></i>
  <h1 id="card-heading">Unlock premium features!</h1>
  <button id="pricing-button" onclick="location.href='https://ded-talks.jatinsharma24.repl.co/#pricing';">
     See Pricing <i class="fas fa-arrow-right"></i>
  </button>
          <p>PS: You can voice chat with Steve Jobs for free!!</p>
</div>

        
  <div class="chat-messages">
    <ul id="messages"></ul>
    <button id="scroll-to-bottom"><i class="fa fa-angle-down" style="font-size:30px color:white;"></i></button>
  </div>
  <div class="chat-form">
    <form id="message-form">
      <input id="message-input" type="text" placeholder="Enter your message..." autocomplete="off"/>
      <button type="button" id="voice"><i class="fa fa-microphone"></i></button>
      <button type="submit"><i class="fas fa-send"></i></button>
      
    </form>
  </div>
</div>
     <script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>
  </body>
</html>